* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a 
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.container
{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;   
}

.nav .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu
{
    display: flex;
    justify-content: center;
    padding-top: 79px;
}

.logo
{
    display: flex;
    padding-top: 50px;
}


.link
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #8C8A8A;
    
}

.link-margin
{
    margin: 30px 30px;
}

.link-m
{
    margin: 0 30px;
}

.link-ma
{
    margin: 0 30px;
}

.baner
{
    display: flex;
    min-height: 450px;
    background: url(img/baner.png);
    background-repeat: no-repeat;
    margin: 38px 0;
    justify-content: center;
}

.box
{
    max-width: 730px;
    width: 100%;
    background: #F0F0F0;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 95px;
    padding-bottom: 51px;
}

h4
{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #4581B7;
    margin-bottom: 25px;
}

.about .container
{
    display: flex;
    justify-content: space-between;
}

p
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #808080;
}

.about-box
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
    background: #F0F0F0;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 24px;
    padding-bottom: 159px;
    
}

.about-box .desc 
{
   margin-top: 25px;
}

.footer .container
{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
    background: #F0F0F0;
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 15px;
}

h2
{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #808080;
}

.call-center
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
}

.call 
{
    margin-bottom: 10px;
    margin-top: 40px;
}